/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, nav, section, p, h1, h2 {
  box-sizing: border-box; }

nav {
  padding: 2em;
  font-size: 1.2em;
}
nav * {
  font-size: 1.2em;
}

nav #next {
  margin-left: 15%;
  padding: 10px 20px;
  text-align: center;
  font: bold 15px Arial;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #f5f5f5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

nav #load_gallery, nav #previous {
  padding: 10px 20px;
  text-align: center;
  font: bold 15px Arial;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #f5f5f5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

nav #next:active, nav #load_gallery:active, nav #previous:active {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button:disabled {
  display : none;
}

.gallery-container {
    text-align: center;
}

.vignette {
    padding:10px 10px 10px 10px;
    border: 1px solid black;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    display: inline-block;
}

.vignette:hover{
	outline: 2px solid black;
}

#lightbox_container {
    display : none;
}

#lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
}

#lightbox #lightbox-head {
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
	  padding: 1em;
}

#lightbox #lightbox-head > h1 {
	  text-align: center;
    font-weight: 700;
    font-size: 2.4em;
}

#lightbox #lightbox-img {
  width: 100%;
	height:100%
}

#lightbox-img {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

#lightbox img {
	display: block;
	position: relative;
  margin: auto;
  width: auto;
  height: 100%;
  max-height: 60vh;
  max-width: 90vh;
	vertical-align: middle;
}

#lightbox #lightbox_close {
	position: fixed;
  right: 1em;
  color: white;
  border: none;
	width: 2.5em;
	height: 1.25em;
  font-size: 1.5em;
  border-radius: 1em;
	cursor: pointer;
  text-align: center;
  vertical-align: middle;

}

#lightbox #lightbox_close:hover {
      background-color: white;
      color: black;
}

#lightbox #lightbox-next, #lightbox #lightbox-prev {
    height: 100%;
    width: 10%;
    padding: 1em;
    background-color: transparent;
    color: white;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: center;
	  cursor : pointer;
	  position: absolute;
}

#lightbox #lightbox-next:hover, #lightbox #lightbox-prev:hover {
    background-color: black;
}

#lightbox #lightbox-next > h2, #lightbox #lightbox-prev > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 2em;
}

#lightbox #lightbox-next {
    right: 0;
}

#lightbox #lightbox-prev {
    left: 0;
}

#lightbox_info{
    position: relative;
    color: black;
    background-color: white;
    margin: auto;
    width: auto;
    max-height: 60vh;
    max-width: 90vh;
    opacity: 0.8;
}

h3 {
  font-weight: 700;
  font-size: 1.5em;
}

strong {
  font-weight: 700;
  font-size: 1.1em;
}
